{{/* Device Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}
{{ $view := "device_card" }}

{{/* Title */}}
{{ with $st.Title }}
    <div class="row col-md-12 section-heading people-title justify-content-center ">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $st.Params.subtitle }}<p>{{ $st.Params.subtitle | markdownify | emojify }}</p>{{ end }}
    </div>
{{ end }}


<div class="device-container">
    {{/* Query */}}
    {{ $query := (where site.Pages "Section" "devices")  }}
    {{ range $index, $item := $query }}
        <div class="device-card">
        {{ partial "functions/render_view" (dict "page" $st "item" . "view" $view "index" $index) }}
        </div>
    {{end}}
</div>


