{{/* Device Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}
{{ $view := "device_card" }}

{{/* Title */}}
{{ with "Lab Equipments" }}
    <div class="row col-md-12 section-heading people-title justify-content-center ">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $st.Params.subtitle }}<p>{{ $st.Params.subtitle | markdownify | emojify }}</p>{{ end }}
    </div>
{{ end }}

{{ $cur_container_type := "Robot" }}
{{ $cur_container_type_show := "**Robots**" }}
<div class="container" style="margin-bottom: 4rem;">
  <div class="row">
    <div class="col-lg-2" style="display: flex; align-items: center;">
        <div class="" style="text-align: center; margin: auto;">
            <h2>{{ $cur_container_type_show | markdownify | emojify }}</h2>
        </div>
    </div>
    <div class="col-lg-10" style="border-radius: 0px; border-left: 3px solid black;">
        <div class="device-container" style="margin: 0px 0px 0px 20px;">
            {{/* Query */}}
            {{ $query := where (where site.Pages "Section" "devices") ".Params.type" "eq" $cur_container_type }}
            {{ range $index, $item := $query }}
                <div class="device-card">
                {{ partial "functions/render_view" (dict "page" $st "item" . "view" $view "index" $index) }}
                </div>
            {{end}}
        </div>
    </div>
  </div>
</div>

{{ $cur_container_type := "Sensor" }}
{{ $cur_container_type_show := "**Sensors**" }}
<div class="container" style="margin-bottom: 3rem;">
  <div class="row">
    <div class="col-lg-2" style="display: flex; align-items: center;">
        <div class="" style="text-align: center; margin: auto;">
            <h2>{{ $cur_container_type_show | markdownify | emojify }}</h2>
        </div>
    </div>
    <div class="col-lg-10" style="border-radius: 0px; border-left: 3px solid black;">
        <div class="device-container" style="margin: 0px 0px 0px 20px;">
            {{/* Query */}}
            {{ $query := where (where site.Pages "Section" "devices") ".Params.type" "eq" $cur_container_type }}
            {{ range $index, $item := $query }}
                <div class="device-card">
                {{ partial "functions/render_view" (dict "page" $st "item" . "view" $view "index" $index) }}
                </div>
            {{end}}
        </div>
    </div>
  </div>
</div>