{{/* Portfolio Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $page := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}
{{ $view := "research_item" }}

<div class="row justify-content-center" style="text-align: center">
    {{ with $page.Title }}
        <div class="col-md-12 section-heading people-title">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
        </div>
    {{ end }}

    <div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}">

    {{ with $st.Content }}{{ . }}{{ end }}

    <div class="isotope projects-container row js-layout-row project-showcase">

        {{/* Query */}}
        {{ $query := where (where site.Pages "Section" "research") "Params.title" "!=" nil }}

        {{ range $index, $item := $query }}
        {{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}
            {{ if in (slice "masonry" 3) $view }}
            <div class="project-card project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
            {{else}}
            <div class="col-12 isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
            {{end}}
            {{ partial "functions/render_view" (dict "page" $st "item" . "view" $view "index" $index) }}
        </div>
        {{end}}

    </div>
    </div>
</div>
